<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="x-apple-disable-message-reformatting">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Notification</title>
</head>

<body class="body-wrapper" style="margin: 0;">
    <table class="table-wrapper"
        style="background: #F2F2F2; border-spacing: 0; color: #464646; font-family: 'Poppins','Helvetica','Arial',sans-serif; font-weight: 400; margin: 0; text-decoration: none; width: 100%;">
        <tbody>
            <tr class="background-wrapper"
                background="http://localhost:8000/packages/asset/image/background.png"
                style="background-repeat: no-repeat; background-size: 100% 200px;">
                <td>
                    <table align="center">
                        <tbody>
                            <tr class="text-center" style="text-align: center;">
                                <td class="header-image" style="padding: 25px 0;">
                                    <img alt="" height="50"
                                        src="http://localhost:8000/packages/asset/image/logo.svg">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" class="content-wrapper"
                                        style="background: #FFF; border-radius: 6px; padding: 20px; width: 600px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img alt="" width="100%"
                                                    src="{{header_content_url}}"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="custom-font" style="font-family: 'Poppins','Helvetica','Arial',sans-serif;">
                                                    <h4>Hi {{salutation}} {{user_name}},</h4>
                                                    <p>
                                                        Ada beragam pilihan pendanaan baru yang dapat kamu pilih di bawah ini
                                                    </p>
                                                    <hr style="margin-top:24px;border:0;border-bottom:1px solid #c1c7d0">
                                                    <p>
                                                        <table align="left" width="100%">
                                                            <tbody>
                                                                {% for campaign in campaign_ids %}
                                                                    <tr>
                                                                        <td>
                                                                            <strong>{{campaign['campaign_name']}}</strong>
                                                                            <p>
                                                                                Tipe Produk: {{campaign['campaign_type']}}<br/>
                                                                                Persentase Terisi: {{campaign['funded_percentage']}}%<br/>
                                                                                Jumlah Pinjaman: Rp{{campaign['loan_requested']}},00<br/>
                                                                                Rating Pinjaman: {{campaign['loan_credit_rating']}}<br/>
                                                                                Bunga Efektif: {{campaign['rounded_effective_interest']}}%<br/>
                                                                                Tenor Pinjaman: {{campaign['installment_length']}}<br/>
                                                                                Agunan: {{campaign['have_collateral']}}<br/>
                                                                                Proteksi Asuransi: {{campaign['has_insurance']}}
                                                                            </p>
                                                                            <a href="{{campaign['campaign_link']}}" target="_blank" style="background-color: #3dcd58;padding:8px 13px;color:white;text-decoration: none;border-radius: 5px;">Danai Sekarang</a>
                                                                            <hr style="margin-top:24px;margin-bottom:24px;border:0;border-bottom:1px solid #c1c7d0">
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="custom-font" style="font-family: 'Poppins','Helvetica','Arial',sans-serif;">
                                                    <p>
                                                        Disclaimer: <br/>
                                                        Peluang yang aktual tersedia di aplikasi / website bisa lebih sedikit daripada yang tertulis di email ini karena ada kemungkinan sudah terpenuhi oleh lender lain
                                                    </p>
                                                    <p>
                                                        Apabila tidak ingin ketinggalan pendanaan, jangan lupa juga untuk mengaktifkan fitur Auto-Lending, yang selengkapnya dapat dilihat di sini: <br/>
                                                        <a href="https://www.akseleran.co.id/blog/fitur-auto-lending/" target="_blank">https://www.akseleran.co.id/blog/fitur-auto-lending/</a>
                                                    </p>
                                                    <p>
                                                        Jangan lupa melakukan diversifikasi / penyebaran pendanaan ke banyak campaign untuk menurunkan tingkat risiko.
                                                    </p>
                                                    <p>Butuh bantuan?</p>

                                                    <p>
                                                        Hubungi kami di <br/>
                                                        Email: <a href="mailto:cs@akseleran.co.id" target="_blank">cs@akseleran.co.id</a><br/>
                                                        Telepon: <a href="tel:02150916006" target="_blank">(021) 5091-6006</a>
                                                        <br><br> Terima kasih,<br><br>
                                                    </p>
                                                    <p class="heading-title" style="color: #3dcd58; font-weight: 700;">
                                                        Team Akseleran</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="custom-font" style="font-family: 'Poppins','Helvetica','Arial',sans-serif;">
                                                    <hr>
                                                    <h5 class="certification-text"
                                                        style="color: #000; font-weight: 400; padding: 0 30px; text-align: center;">
                                                        Akseleran terdaftar dan diawasi oleh Otoritas Jasa Keuangan
                                                        (OJK) &amp; Keamanan data terjamin dengan sertifikasi ISO 27001.
                                                    </h5>
                                                    <table align="center">
                                                        <tbody>
                                                            <tr class="text-center" style="text-align: center;">
                                                                <td>
                                                                    <img alt="" height="40"
                                                                        src="https://core.akseleran.com/media/assets/emails/bottom-ojk.png">
                                                                    &nbsp;&nbsp;
                                                                    <img alt="" height="40"
                                                                        src="https://core.akseleran.com/media/assets/emails/bottom-iso.png">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" class="bottom-wrapper"
                        style="padding: 20px; text-align: center; width: 600px;">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center">
                                        <tbody>
                                            <tr class="text-center" style="text-align: center;">
                                                <td class="custom-font" style="font-family: 'Poppins','Helvetica','Arial',sans-serif;">
                                                    <a class="notext-decoration"
                                                        href="https://www.facebook.com/akseleran" target="_blank"
                                                        style="text-decoration: none;">
                                                        <img alt="" height="30"
                                                            src="https://core.akseleran.com/media/assets/emails/icon-facebook.png">
                                                    </a>
                                                    &nbsp;
                                                    <a class="notext-decoration"
                                                        href="https://www.instagram.com/akseleran_id/" target="_blank"
                                                        style="text-decoration: none;">
                                                        <img alt="" height="30"
                                                            src="https://core.akseleran.com/media/assets/emails/icon-instagram.png">
                                                    </a>
                                                    &nbsp;
                                                    <a class="notext-decoration"
                                                        href="https://www.youtube.com/akseleran" target="_blank"
                                                        style="text-decoration: none;">
                                                        <img alt="" height="30"
                                                            src="https://core.akseleran.com/media/assets/emails/icon-youtube.png">
                                                    </a>
                                                    &nbsp;
                                                    <a class="notext-decoration" href="https://twitter.com/akseleran"
                                                        target="_blank" style="text-decoration: none;">
                                                        <img alt="" height="30"
                                                            src="https://core.akseleran.com/media/assets/emails/icon-twitter.png">
                                                    </a>
                                                    &nbsp;
                                                    <a class="notext-decoration"
                                                        href="https://www.linkedin.com/company/akseleran"
                                                        target="_blank" style="text-decoration: none;">
                                                        <img alt="" height="30"
                                                            src="https://core.akseleran.com/media/assets/emails/icon-linkedin.png">
                                                    </a>
                                                    &nbsp;
                                                    <a class="notext-decoration" href="https://t.me/akseleran_id"
                                                        target="_blank" style="text-decoration: none;">
                                                        <img alt="" height="30"
                                                            src="https://core.akseleran.com/media/assets/emails/icon-telegram.png">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="custom-font" style="font-family: 'Poppins','Helvetica','Arial',sans-serif;">
                                    <h5 class="bottom-text" style="font-weight: 400;">
                                        Copyright © {{current_year}} PT. Akseleran Keuangan Inklusif Indonesia, All rights
                                        reserved.<br>
                                        Kamu mendapatkan email ini karena telah terdaftar sebagai email subscriber
                                        Akseleran.<br><br>
                                        <strong>PT. Akseleran Keuangan Inklusif Indonesia</strong><br>
                                        Sahid Sudirman Center Unit 11G Jl. Jendral Sudirman Kav. 86 Jakarta 10220
                                        Indonesia
                                    </h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>