<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link href="{{ url_for('packages', path='/asset/fontawesome/css/all.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('packages', path='/bulma/css/bulma.css') }}" rel="stylesheet"/>

        <link href="{{ url_for('packages', path='/asset/css/dashboard.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <div class="columns is-12 is-popup">
            <article class="message is-warning column is-4 is-offset-8 p-0 box">
                <!-- <div class="message-header">
                    <p>Message</p>
                    <button class="delete" aria-label="delete"></button>
                </div> -->
                <div class="message-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.
                </div>
            </article>
        </div>

        <section class="hero is-light is-fullheight">
            <div class="hero-body">
              <div class="column is-12">
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-8">
                      <div class="tile">
                        <div class="tile is-parent is-vertical">
                          <article class="tile is-child box">
                            <p class="title">Vertical tiles</p>
                            <p class="subtitle">Top box</p>
                          </article>
                          <article class="tile is-child box">
                            <!-- <p class="title">Vertical tiles</p>
                            <p class="subtitle">Bottom box</p> -->
                            <canvas id="myChart"></canvas>
                          </article>
                        </div>
                      </div>
                      
                      <!-- <div class="tile is-parent">
                        <article class="tile is-child box">
                          <p class="title">Wide column</p>
                          <p class="subtitle">Aligned with the right column</p>
                          <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
                          </div>
                        </article>
                      </div> -->
                    </div>

                    <div class="tile is-parent">
                      <!-- <article class="tile is-child box">
                        <div class="content">
                        </div>
                      </article> -->
                      <article classs="tile is-child box">
                        <table class="table is-fullwidth is-small is-hoverable is-striped">
                            <thead>
                                <tr>
                                    <th><abbr title="No">No.</abbr></th>
                                    <th>Name</th>
                                    <th><abbr title="Part Number">Part No.</abbr></th>
                                    <th><abbr title="Quantity">Qty</abbr></th>
                                    <th><abbr title="Date Issued">Date</abbr></th>
                                    <th><abbr title="Status">Status</abbr></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                                    </td>
                                    <td>38</td>
                                    <td>23</td>
                                    <td>12</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                                    </td>
                                    <td>38</td>
                                    <td>23</td>
                                    <td>12</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                                    </td>
                                    <td>38</td>
                                    <td>23</td>
                                    <td>12</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <th>4</th>
                                    <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                                    </td>
                                    <td>38</td>
                                    <td>23</td>
                                    <td>12</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <th>5</th>
                                    <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
                                    </td>
                                    <td>38</td>
                                    <td>23</td>
                                    <td>12</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>
                      </article>
                    </div>
                </div>
                <!-- <p class="title">
                  Dashboard
                </p> -->
                <!-- <p class="subtitle">
                  Dashboard subtitle
                </p> -->
              </div>
            </div>

        </section>
        
        <script src="{{ url_for('packages', path='/graph/dist/chart.js') }}"></script>
        <script src="{{ url_for('packages', path='/asset/js/dashboard.js') }}"></script>
        <script src="{{ url_for('packages', path='/asset/js/socket.js') }}"></script>
    </body>
</html>